<div class="left-box">

  <h1>Log ind</h1> 

  <%= simple_form_for '/login' do |f| %>
    <%= f.input :email, label: false, placeholder: 'Email:' %>
    <%= f.input :password, label: false, placeholder: 'Kodeord' %>
    <%= f.submit name: 'login', value: 'Log ind', class: 'submit' %>
  <%end%>
</div>

<div class="right-box">
  <div class="content">
    <strong>
      
    </strong>
  </div>
</div>