<div class="modal-background" id="user-password-modal">
  <div class="modal-box">
    <div class="modal-headder">
      <div class="close-modal">&times</div>
      <h1>Skift kodeord</h1>
    </div>
    <div class="modal-form">

      <%= simple_form_for :user, url: users_update_path(id: current_user) do |f| %>
        <%= f.input :password, label: false, placeholder: 'Kodeord:' %>
        <%= f.input :password_confirmation, label: false, placeholder: 'Gentag kodeord:' %>
        <%= f.submit value: 'Gem nyt kodeord', class: 'submit'  %>
      <%end%>
      
    </div>
  </div>
</div>



<script>
  // will open modal when onclick event in navbar triggers
  function openUserPassword(){
    document.querySelector('#user-password-modal').style.display = 'block';
  }
</script>