<div class="modal-background" id="edit-standart-application-modal">
  <div class="modal-box">
    <div class="modal-headder">
      <div class="close-modal">&times</div>
      <h1>Rediger standart ansøgning</h1>
    </div>
    <div class="modal-container">
      <div class="modal-description">
        <h5>Rediger standart ansøgning</h5>
        <p>rediger din standart ansøgning, dette vil ikke påvirke dine tidligere ansøgninger.</p>
      </div>

      <% application = current_user.standart_application %>
      <%= simple_form_for :user_standart_application, url: user_standart_application_path(id: application.id), method: 'put' do |f| %>

        <%= f.input :user_id, as: :hidden, placeholder: 'bruger id', label: false, input_html:{value: current_user.id}%>
        <%= f.input :application, label: false, input_html:{value: application.application} %>
        <%= f.submit value: 'Gem ansøgning', class: 'submit'%>

      <%end%>
        

    </div>
  </div>
</div>



<script>
  // will open modal when onclick event in navbar triggers
  function openEditStandartApplication(){
    document.querySelector('#edit-standart-application-modal').style.display = 'block';
  }
</script>