<div class="modal-headder">
  <div class="close-modal">&times</div>
  <h1>Rediger standart ansøgning</h1>
</div>
<div class="modal-container">
  <div class="modal-description">
    <h5>Rediger standart ansøgning</h5>
    <p>rediger din standart ansøgning, dette vil ikke påvirke dine tidligere ansøgninger.</p>
  </div>

  <% application = current_user.standart_application %>
  <% if application.present? %>
    <!-- need to run it as a standart form becuse simple form does not support actiontext yet -->
    <%= form_for application, action: 'update', method: 'patch' do |f| %>

    <%= f.hidden_field :user_id, as: :hidden, placeholder: 'bruger id', value: current_user.id%>
    <%= f.rich_text_area :content%>

    <%= f.submit value: 'Gem ansøgning', class: 'submit'%>
    <%end%>
  <%end%>
    

</div>