<div class="headline">
  <h1>Dashboard</h1>
</div>


<!--will display a list of contacts if current user has any contacts should allways be at the bootom of the page-->
<% if @contacts.any? %>
  
  <div class="headline">
    <strong>Kontaktpersoner</strong>
  </div>
  <div class="inline">
    <% @contacts.each  do |contact| %>
      <div class="contact-box">
        <div class="contact-headline">
          <%= "#{contact.position} - #{contact.name}" %>
        </div>
        <br>
        <% if contact.email.present? %>
          <%= "E-mail: #{contact.email}"  %>
          <br>
        <%end%>
        <% if contact.phone.present? %>
          <%= "Tlf: #{contact.phone}"%>
          <br>
        <%end%>

        <br>
        <%= link_to 'Slet kontakt', contact, method: :delete, class: 'btn btn-delete'%>
      </div>
    <%end%>
  </div>
<%end%>