<div class="modal-headder">
  <div class="close-modal">&times</div>
  <h1>Se job</h1>
</div>
<div class="modal-container">
  <div class="modal-center-text">
    <%= @job_posting.main_text.gsub(/\n/, '<br>').html_safe %>
    <br>
    <br>
    <% path = "/applied_jobs/new?job_posting_id=#{@job_posting.id}"%>
    <%= "<div class='btn' onClick='openModal(`#{path}`)'>Se jobbet</div>".html_safe%>
  </div>
</div>

