/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

:root{
  --strong_blue: #071e36;
  --skye_blue: #2690d4;
  --grey_blue: #57728D;
}

body{padding: 0px; margin: 0px;}


.wrapper{
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-columns: 15% auto;
}


/* handles content next to navbar and will only contain palcement css*/

.content{
  overflow-x: auto;
}

.content .headline{
  width: 100%;
  text-align: center;
}

.inline{
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.btn{
  width: 100px;
  display: block;
  background: var(--skye_blue);
  padding: 3px;
  color: white;
  font-weight: bold;
  text-decoration: none;
  text-align: center;
}

.btn-delete{
  background: var(--grey_blue)
}

/* styles the action text/ trix editor */

.trix-content{
  width: 90%;
}