/* handles colapible boxes */

.colapse-box{
  width: 300px;
  margin: 10px;
  transition: height 2s ease-in;
}

.colapse-box .colapse-header{
  width: 100%;
  padding-bottom: 5px;
  padding-top: 5px;
  background: var(--skye_blue);
  color: white;
  text-align: center;
  cursor: pointer;
}

.colapse-box .colapse-header .colapse-check{
  display: none;
}

.colapse-box .content{
  width: 100%;
  padding: 3px;
  padding-top: 10px;
  display: none;
}

