/* styking for dashboard contactbox */
.contact-box{
  width: 200px;
  height: 110%;
  padding: 5px;
  display: flex;
  flex-direction: column;
}

.contact-headline{
  width: 100%;
  background: var(--skye_blue);
  color: white;
  text-align:  center;
  font-weight: bold;
  padding-top: 3px;
  padding-bottom: 3px;
}

